<!DOCTYPE html> 

<html lang = 'en'>
	<head>
		<meta charset='utf-8'>
		<title>Staff Signup</title>

	</head>

	<body>

		<form action='/push_staff/' method=['GET' , 'POST']>

			<label>Staff Username</label>

				<input type='username' placeholder='Enter Staff Username' name='username' required>

			<label>Staff Password</label>

				<input type='password' placeholder='Enter Staff Password' name='password' required> 
			
			<button type='submit'>Add Staff Account</button>
		</form>

		<br>

		<form method='GET' action='/'>
			<input type='submit' value='Logout' /> 
		</form>

	</body>

</html>
